@import url('http://fonts.cdnfonts.com/css/whitney-2');
@import url('http://fonts.cdnfonts.com/css/neue-helvetica');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Neue Helvetica', 'Helvetica', 'Arial', sans-serif;
}

.centratura_pagina {
    width: 65%;
    margin: 0 auto;
}

/* Intestazione */

header {
    background-color: #255ee9;
}

/* navigazione */

nav div {
    display: inline-block;
    vertical-align: middle;
    padding: 2% 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
} 

nav ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    margin: 0 21% 0 1%;;
}

#logo img {
    height: 35px;
    max-width: 100%;
}

#lista {
    margin: 0 25% 0 0;
}

#accedi a {
    display: block;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 16px;
    text-align: center;
}

/* img background */
.img_background {
    position: relative;
}


#img_jumbo {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

/* jumbotron */

#jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 38%;
    max-width: 65%;
    color: white;
    z-index: 999;
}

#jumbotron h1 {
    color: white;
    font-size: 56px; 
    font-weight: 800;
    margin-bottom: 7%;
}

#jumbotron p {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    line-height: 30px;
}

.button {
    display: inline-block;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    font-weight: 500;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.button.lightblue {
    background-color: #8EA1E1;
    color: white;
}

.icon {
    margin-right: 8px;
}

#black.button{
    background-color: black;
    color: white;
}

/* corpo principale */

main section {
    height: 800px;
}

.background_color_grey {
    background-color: #f6f6f6;
}

.background_color_grey.altezza_blocco {
    height: 1150px;
}

section .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.riquadro_sinistra {
    float: left;
    width: 42%;
    margin: 10% 10% 8% 0;
}

.riquadro_destra {
    float: right;
    width: 27%;
    margin: 12% 5%;
}

.riquadro_destra h2, #riquadro_sopra h2 {
    font-size: 48px;
}

.riquadro_destra p, #riquadro_sopra p {
    font-size: 20px;
    margin-top: 24px;
}

.riquadro_sinistra.right {
    float: right;
}

.riquadro_destra.left {
    float: left;
}

#riquadro_sopra {
    text-align: center;
    padding-top: 10%;
}

#riquadro_sopra p {
    width: 75%;
    margin: 24px auto 0;
}

#riquadro_centrale {
    text-align: center;
}

#riquadro_centrale img {
    width: 85%;
    margin-bottom: 20px;
}

#riquadro_sotto {
    text-align: center;
}

#riquadro_sotto h3 {
    font-size: 30px;
    margin-bottom: 35px;
    z-index: 10;
}

#riquadro_sotto img {
    margin-bottom: -20px;
}

/* footer */

footer {
    background-color: #23272a;
    height: 700px;
}

.riquadro_principale_sinistra {
    float: left;
    width: calc(30% / 1 - 10%);
    margin: 5% 10% 3% 0;
}

.riquadro_principale_sinistra h2 {
    font-weight: 800;
    line-height: 95%;
    font-size: 32px;
    color: #8EA1E1;
    margin-bottom: 30px;
}

.riquadro_principale_sinistra img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
    vertical-align: text-bottom;
    color: white;
}

.riquadro_principale_sinistra span {
    color: white;
    font-size: 14px;
    line-height: 18px;
}

.riquadri_restanti {
    float: left;
    width: calc(70% / 4 - 5%);
    margin: 5% 5% 3% 0;
}

.social ul {
    list-style: none;
}

.social ul li {
    display: inline-block;
    margin: 15px 20px 10px 0;
} 

.social ul li a {
    text-decoration: none;
    color: white;
}

.riquadri_restanti span {
    display: block;
    color: white;
    font-size: 16px;
    line-height: 35px;
}

.riquadri_restanti span.color_text {
    color:#8EA1E1;
}

#hr {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #8EA1E1 ;
}

#logo_footer {
    float: left;
    width: 20%;
}

#registrati {
    float: right;
}
