@import url('http://fonts.cdnfonts.com/css/whitney-2');
@import url('http://fonts.cdnfonts.com/css/neue-helvetica');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Neue Helvetica', 'Helvetica', 'Arial', sans-serif;
}

.centratura_pagina {
    width: 65%;
    margin: 0 auto;
}

/* Intestazione */

header {
    background-color: #255ee9;
}

/* navigazione */

nav {
    /* debug */
    height: 80px;
}

nav div {
    display: inline-block;
    vertical-align: middle;
    padding: 2% 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
} 

nav ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    margin: 0 21% 0 1%;;
}

#logo img {
    height: 35px;
    max-width: 100%;
}

#lista {
    margin: 0 25% 0 0;
}

#accedi a {
    display: block;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 16px;
    text-align: center;
}

/* img background */
.img_background {
    position: relative;
}


#img_jumbo {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

/* jumbotron */

#jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 38%;
    max-width: 65%;
    color: white;
    z-index: 999;
}

#jumbotron h1 {
    color: white;
    font-size: 56px; 
    font-weight: 800;
    /* margin-top: 15%; */
    margin-bottom: 7%;
}

#jumbotron p {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    line-height: 30px;
}

.button {
    display: inline-block;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    font-weight: 500;
    margin: 0 15px;
}

#jumbotron a {
    text-decoration: none;
    color: black;
    background-color: white;
}

#black.button{
    background-color: black;
    color: white;
}

/* corpo principale */

main {
    /* debug */
    width: 100%;
}

main section {
    /* debug */
    height: 600px;
    width: 100%;
}

.background_color_grey {
    background-color: #f6f6f6;
}

section .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.riquadro_sinistra {
    /* debug */
    background-color: blue;
    float: left;
    height: 400px;
    width: 42%;
    margin: 8% 10% 8% 3%;
}

.riquadro_destra {
    /* debug */
    background-color: violet;
    float: right;
    height: 400px;
    width: 30%;
    margin: 8% 5%;
}

.riquadro_sinistra.right {
    /* debug */
    float: right;
    margin: 8% 5%;
}

.riquadro_destra.left {
    /* debug */
    float: left;
    margin: 8% 3%;
}

#riquadro_sopra {
    /* debug */
    background-color: chartreuse;
    height: 200px;
}

#riquadro_centrale {
    /* debug */
    background-color: rgb(243, 13, 224);
    height: 250px;
}

#riquadro_sotto {
    /* debug */
    background-color: rgb(252, 110, 66);
    height: 150px;
}

/* footer */

footer {
    background-color: #23272a;
    /* debug */
    height: 600px;
    width: 100%;
}

footer div.centratura_pagina {
    height: 600px;
}

.riquadro_principale_sinistra {
    float: left;
    /* debug */
    background-color: blue;
    height: 300px;
    width: calc(30% / 1 - 10%);
    margin: 5% 10% 3% 0;
}

.riquadri_restanti {
    float: left;
    /* debug */
    background-color: blue;
    height: 300px;
    width: calc(70% / 4 - 5%);
    margin: 5% 5% 3% 0;
}

#logo_footer {
    float: left;
    /* debug */
    background-color: white;
    height: 30px;
    width: 10%;
    margin-top: 4%;
}

#registrati {
    float: right;
    background-color: white;
    height: 30px;
    width: 10%;
    margin-top: 4%;
}